<li id='micropost-<%= micropost.id %>' class='micropost_box' data-micropost-id='<%= micropost.id %>'>
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class='user'><%= link_to micropost.user.name, micropost.user %></span>
    <span class='content'>
      <%= micropost.content %>
      <%= image_tag micropost.display_image if micropost.image.attached? %>
    </span>
    <span class='timestamp'>
      Posted <%= time_ago_in_words(micropost.created_at) %> ago.
      <% if current_user?(micropost.user) %>
        <%= button_to 'delete', micropost, method: :delete, data: { confirm: 'You sure?' } %>
      <% end %>
    </span>
  <span>

  <span class='Comment'>
    <h2>Comments </h2>
    <strong id='comment_count'>Comment Count: <%= micropost.comments.count%></strong>
    <ul class='comment_user', id='micropost_<%=micropost.id%>'>
      <% micropost.comments.each do |comment| %>
        <% comment ||= @comment%>
        <li class='DestroyComment' id = 'comment_<%=comment.id%>'>
          <strong><%= comment.user.name %></strong> <%= comment.body %>
          <% if current_user?(comment.user) %>
            <span class='deleteComment ml-20' data-comment-id='<%= comment.id %>'>
              <%= link_to 'Destroy', micropost_comment_path(micropost_id: micropost.id, id: comment.id), method: :delete, class: 'delete-comment',remote: true, data: { micropost_id: micropost.id, comment_id: comment.id } %> 
            </span>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= render partial: 'comments/comment', locals: { micropost: micropost }, html: {id: 'form_norefresh'} %>
  </span>
</li>
